<html>
	<head>
        <meta charset="UTF-8" />
        <title>Panier VUE JS</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
	</head>
	<body>
        <div id="wrapper">
            <div id="products">
                
                <template v-for="produit in liste_produits">
                    <div class='produit'>
                        <h3>{{produit.nom}}</h3>
                        <br />
                        <img :src='produit.photo' />
                        <p>{{produit.description}}</p>
                        <p>{{produit.prix}}€</p>
                        <button @click="addProduitPanier(produit.id)">Ajouter au panier</button>
                    </div>
                </template>

            </div>
            <div id="panier">
                <h2>Votre panier</h2>
                <div id="panier-content">
                    
                    <template v-for="produit in panier">
                        <div class='produitPanier'>
                            <p>{{produit.nom}} : {{produit.qte}} : {{produit.prix}}€</p>
                            <button @click="supprimerProduitPanier(produit.id)">Retirer</button>
                        </div>
                    </template>

                </div>
                <div id="panier-total">
                    {{total_panier}}€
                </div>
                <div id="panier-actions">
                    <button id="empty" @click="viderPanier()">Vider le panier</button>
                    <button id="buy" @click="commanderPanier()">Commander</button>
                </div>
            </div>
        </div>
    
        <script src="app.js"></script>
	</body>
</html>
