body{
    font-family: Helvetica;
    font-weight: 200;
}
#wrapper{
    display: flex;
    padding: 1em;
}

#products{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

#products > button {
    width: auto;
    height: 4%;
}

#products > div {
    flex-basis: 40%;
    border: 1px black solid;
    border-radius: 30px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

#products > div > img {
    width: 60%;
}

.produitPanier {
    border-bottom: 1px solid black;
}

#panier {
    border: 2px solid green;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    padding: 0px 1% 1% 1%;
}

div#filtre {
    margin: 20px;
}

#filtre button {
    display: inline-block;
    width: 100%;
    margin: 2%;
}

div#pagination {
    text-align: center;
}

#pagination button {
    width: 3%;
}

#pagination button:first-child {
    visibility: hidden;
}